.d-flex.justify-content-center.h-100
    .card
        .card-header
            h3 New Password
        .card-body
            form#newPassword-form(name='newPassword-form')
                // username
                .input-group.form-group
                    .input-group-prepend
                        span.input-group-text
                            i.fas.fa-user
                    input.form-control(name='password' type='password' placeholder='password')
                // submit btn
                .form-group
                    input.btn.btn-block.login_btn(type='submit' value='Submit')
                #err-msg.d-flex.justify-content-center.text-danger 
                    | #{message}
        .card-footer
            #sign-up-text.d-flex.justify-content-center.links
                | Don&apos;t have an account?
                a(href='/auth/register') Sign Up
            .d-flex.justify-content-center
                a(href='/auth/login') Sign In