doctype html
html(lang="en")
    head
        include ./components/head.pug
        style
            include ../public/css/index.css

        script
            include ../public/js/index.js
    body

        div(style="font-size: 6rem") nu ai ce gasi aici. 404!
        