doctype html
html(lang="en")
    head
        include ./components/head.pug
        style
            include ../public/css/index.css

        script
            include ../public/js/index.js
        style(type='text/css').
           .mh-200 {
                max-height: 200px;
            }
    body
       

        div(style="font-size:6rem") nu esti logat, te pup
              