doctype html
head
    title New-password
    include ./components/head.pug
    style
        include ../public/css/auth.css
    script
        include ../public/js/forgot-password.js

   

body
    .container
        include ./components/forgot-password.pug

