doctype html
head
    title Login
    include ./components/head.pug
    style
        include ../public/css/auth.css

    script
        include ../public/js/register.js

body
    #auth-container.container
        // register card
        include ./components/register.pug

